---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

    {% for post in site.posts %}
	<div class="brick freeze_white freeze_normal  big" style="width:100%; max-width:100%;  {% if post.photo_url %} height:300px;{% endif %} margin:0px;top:30px;">
		<a class="post-link" href="{{ site.baseurl }}{{ post.url }}"> 
		 {% if post.photo_url %} 
		 		<div class="img" >
		<img src="{{  site.baseurl  }}/image/{{ post.photo_url }}" alt="{{post.description}}" 
		style="float:left;max-width: 48%;max-height:300px;margin:0px;margin-right:2%;text-align: center;vertical-align: middle;">
		</div>
		{% endif %} 
		<div class="freeze_titres" style="{% if post.photo_url %}float:right;max-width:48%;{% endif %} height:auto;margin:0px;">
		<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
		<h2>{{ post.title }}</h2>  
		</div>
		</a>
 	</div>
    {% endfor %}

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
